/* http://www.december.com/html/spec/colorhslhex6p4.html#282 */
/* http://www.december.com/html/spec/colorhslhex6p2.html#90*/
body{
	background-color: #E7E3E8;
	color: #352E38;
}
header{

	img{
		display: block;
	    width: 100%;
	}
	nav ul{
		text-align: center;
		list-style-type: none;
		display: inline;
	}
	.menu-nav-container {
	  text-align: center;
	  padding: 0;
	  margin: 0;
	  opacity: .7;
/*	  .sf-menu.rtl li.sfHover > ul{
	  	background-color: #5C2673;
	  	color: #fff;*/
	  
	  li {
	    display: inline-block;
	    a {
	      color: #5C2673;
	      display: block;
	      text-decoration: none;
	      text-transform: uppercase;
	      font-family: 'Open Sans', sans-serif;
	      font-weight: 800;
	      padding: .5em 1em;
	      border-bottom-right-radius: 5px;
	      border-bottom-left-radius: 5px;
	      -webkit-transition: background-color .5s;
    	  transition: background-color .5s;
	  	}
	    a:hover {
	        background: #5C2673;
	        color: #fff;
	    }
	  }
	}
}
.container{
	width: 100%;
	margin: 0 auto;


	.main-content{
		width: 67%;
		float: left;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
	}
	.right-sidebar{
		background-color: #CCE0B8;
		border-radius: 5px;
		width: 28%;
		float: right;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		padding: 5px;
		margin: 5px;
		.sueImg{
			border-radius: 10px;
			width: 90%;
			margin: 10px;		
		}
	}
	#footer{
		/*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
		width: 100%;
		text-align: center;
		padding: 10px;
		clear: both;
	}
}
@media only screen and (min-width: 960px) {

	.container{

		width: 960px;

		.main-content{
			width: 680px;
		}
		.right-sidebar{
			width: 250px;
			padding: 5px;
			/*margin: 10px;*/
		}
		#footer{
			padding: 10px;
		}
	}
}
@media only screen and (max-width: 600px){
	.right-sidebar{
		background-color: pink;
	}
}