/* http://www.december.com/html/spec/colorhslhex6p4.html#282 */
/* http://www.december.com/html/spec/colorhslhex6p2.html#90*/
/* line 3, layout.scss */
body {
  background-color: #E7E3E8;
  color: #352E38;
}

/* line 9, layout.scss */
header img {
  display: block;
  width: 100%;
}
/* line 13, layout.scss */
header nav ul {
  text-align: center;
  list-style-type: none;
  display: inline;
}
/* line 18, layout.scss */
header .menu-nav-container {
  text-align: center;
  padding: 0;
  margin: 0;
  opacity: .7;
  /*	  .sf-menu.rtl li.sfHover > ul{
  	  	background-color: #5C2673;
  	  	color: #fff;*/
}
/* line 27, layout.scss */
header .menu-nav-container li {
  display: inline-block;
}
/* line 29, layout.scss */
header .menu-nav-container li a {
  color: #5C2673;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  padding: .5em 1em;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}
/* line 42, layout.scss */
header .menu-nav-container li a:hover {
  background: #5C2673;
  color: #fff;
}

/* line 49, layout.scss */
.container {
  width: 100%;
  margin: 0 auto;
}
/* line 54, layout.scss */
.container .main-content {
  width: 67%;
  float: left;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
/* line 59, layout.scss */
.container .right-sidebar {
  background-color: #CCE0B8;
  border-radius: 5px;
  width: 28%;
  float: right;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 5px;
  margin: 5px;
}
/* line 67, layout.scss */
.container .right-sidebar .sueImg {
  border-radius: 10px;
  width: 90%;
  margin: 10px;
}
/* line 73, layout.scss */
.container #footer {
  /*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
  width: 100%;
  text-align: center;
  padding: 10px;
  clear: both;
}

@media only screen and (min-width: 960px) {
  /* line 83, layout.scss */
  .container {
    width: 960px;
  }
  /* line 87, layout.scss */
  .container .main-content {
    width: 680px;
  }
  /* line 90, layout.scss */
  .container .right-sidebar {
    width: 250px;
    padding: 5px;
    /*margin: 10px;*/
  }
  /* line 95, layout.scss */
  .container #footer {
    padding: 10px;
  }
}
@media only screen and (max-width: 600px) {
  /* line 101, layout.scss */
  .right-sidebar {
    background-color: pink;
  }
}
